<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        Portal de Incidencias
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/incidencias" routerLinkActive="active">
              Incidencias
            </a>
          </li>
          <li class="nav-item" *ngIf=!usuarioSrv.estaLogueado()>
            <a class="nav-link" routerLink="/nueva" routerLinkActive="active">
              Reportar
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf=usuarioSrv.estaLogueado()>
            <li class="nav-item">
              <a class="nav-link" routerLink="/loguearse" routerLinkActive="active">
                Iniciar Sesión
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registrarse" routerLinkActive="active">
                Registrarme
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf=!usuarioSrv.estaLogueado()>
            <li class="nav-item">
              <a class="nav-link" routerLink="/misreportes" routerLinkActive="active">
                Mis Reportes
              </a>
            </li>
            <li class="nav-item clickable">
              <a class="nav-link" (click)="cerrar()">
                Cerrar Sesión
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>