<p>incidencias works!</p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Incidencias</h1>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">INC0000001</h4>
          </div>
          <div class="card-body">
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 250px">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                  style="border:0" allowfullscreen></iframe>
              </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Desamparados</li>
              <li>Fuga</li>
              
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Ver</button>
          </div>
        </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">INC0000002</h4>
        </div>
        <div class="card-body">
          <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 250px">
              <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Desamparados</li>
            <li>Fuga</li>
            
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Ver</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">INC0000003</h4>
          </div>
          <div class="card-body">
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 250px">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                  style="border:0" allowfullscreen></iframe>
              </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Desamparados</li>
              <li>Fuga</li>
              
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Ver</button>
          </div>
        </div>
    </div>

  
  </div>