<div class="text-center">
  <h1 class="display-4">Sistema de Registro de Incidencias</h1>
  <p>
    Este sitio se encuentra a disposición de los ciudadanos costarricenses y
    extranjeros que residen en el territorio nacional, con el fin de que puedan
    reportar las incidencias de infraestructura, averías, mal estado de camino e
    infraestructura vial, para mejorar y agilizar la atención de estos
    incidentes por parte de los gobiernos locales y las instituciones
    gubernamentales correspondientes.
  </p>
  <div class="slider">
    <ul>
      <li>
        <img src="assets/images/Poso-Santa-Lucia.jpg" alt="">
      </li>
      <li>
        <img src="assets/images/Poste-moravia-2.jpg" alt="">
      </li>
      <li>
        <img src="assets/images/SMS3O3Q2KVAHXBOOHCDWCRHGTQ.jpg" alt="">
      </li>
      <li>
        <img src="assets/images/Alcantarillas.jpg" alt="">
      </li>
    </ul>
  </div>
</div>
