<form [formGroup]="registroForm" (ngSubmit)="guardarIncidencia()">
  <br />
  <h5>Ubicación de la Incidencia</h5>
  <hr />
  <div class="form-group">
    <div class="row">
      <div class="col-8">
        <div id="map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]=15>
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="col-4">
        <label id="lblProvincia">Provincia</label>
        <select class="form-control" (change)='onOptionsSelectedProvincia($event)' id="dpnProvincia"
          formControlName="provincia">
          <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.descripcion}}</option>
        </select>
        <div *ngIf="registroForm.controls.provincia.touched">
          <div *ngIf="registroForm.controls.provincia.errors?.required" class="form-text text-danger small">
            Seleccione una provincia
          </div>
        </div>
        <br />
        <label id="lblCanton">Cantón</label>
        <select class="form-control" id="dpnCantones" (change)='onOptionsSelectedCantones($event)'
          formControlName="canton">
          <option *ngFor="let canton of cantones" [value]="canton.id">{{canton.descripcion}}</option>
        </select>
        <div *ngIf="registroForm.controls.canton.touched">
          <div *ngIf="registroForm.controls.canton.errors?.required" class="form-text text-danger small">
            Seleccione un canton
          </div>
        </div>
        <br />
        <label id="lblDistrito">Distrito</label>
        <select class="form-control" id="dpnDistritos" formControlName="distrito" (change)="onDistritoSelected($event)">
          <option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.descripcion}}</option>
        </select>
        <div *ngIf="registroForm.controls.distrito.touched">
          <div *ngIf="registroForm.controls.distrito.errors?.required" class="form-text text-danger small">
            Seleccione un distrito
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <h5>Datos del la incidencia</h5>
  <hr />
  <div class="row">
    <div class="col-6">
      <label id="lblCategoria">Categoría</label>
      <select class="form-control" formControlName="categoria">
        <option>Puente</option>
        <option>Carretera</option>
        <option>Tubería dañada</option>
        <option>Sin electricidad</option>
        <option>Poste caído</option>
        <option>Acera en mal estado</option>
        <option>Derrumbe</option>
        <option>Otro</option>
      </select>
      <div *ngIf="registroForm.controls.categoria.touched">
        <div *ngIf="registroForm.controls.categoria.errors?.required" class="form-text text-danger small">
          Seleccione una categoria
        </div>
      </div>
    </div>
    <div class="col-6">
      <label id="lblEmpresa">Empresa Responsable</label>
      <select class="form-control" formControlName="empresa">
        <option>Municipalidad</option>
        <option>MOPT</option>
        <option>Conavi</option>
        <option>AyA</option>
        <option>ICE</option>
        <option>RACSA</option>
        <option>Otro</option>
      </select>
      <div *ngIf="registroForm.controls.empresa.touched">
        <div *ngIf="registroForm.controls.empresa.errors?.required" class="form-text text-danger small">
          Seleccione una empresa
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6">
      <label>Dirección Exacta</label>
      <div class="form-group">
        <textarea id="txtDireccion" col-4s="100" rows="5" placeholder="Dirección exacta" class="form-control"
          formControlName="direccionExacta"></textarea>
      </div>
      <div *ngIf="registroForm.controls.direccionExacta.touched">
        <div *ngIf="registroForm.controls.direccionExacta.errors?.required" class="form-text text-danger small">
          La dirección exacta es requerida
        </div>
        <div *ngIf="
            registroForm.controls.direccionExacta.errors?.maxlength 
          " class="form-text text-danger small">
          La dirección de la incidencia debe de ser menor a 500 caracteres
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <div>
          <label>Detalle del incidente</label>
          <div>
            <textarea id="txtDetalle" col-4s="100" rows="5" placeholder="Por favor escriba los detalles del incidente"
              class="form-control" formControlName="detalleIncidencia"></textarea>
          </div>
          <div *ngIf="registroForm.controls.detalleIncidencia.touched">
            <div *ngIf="registroForm.controls.detalleIncidencia.errors?.required" class="form-text text-danger small">
              El detalle de la incidencia es requerido
            </div>
            <div *ngIf="
                registroForm.controls.detalleIncidencia.errors?.maxlength 
              " class="form-text text-danger small">
              El detalle de la incidencia debe de ser menor a 500 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <h5>Fotografías</h5>
  <hr />
  <img src={{displayedImage1}} class="imgagenes" alt="">
  <img src={{displayedImage2}} class="imgagenes" alt="">
  <img src={{displayedImage3}} class="imgagenes" alt="">
  <img src={{displayedImage4}} class="imgagenes" alt="">
  <div class="form-group">
    <br />
    <div class="input-group mb-3">
      <div class="custom-file">
        <input #file type="file" class="custom-file-input" (change)="upload(file.files)" [disabled]="maximoImagenes"/>
        <label class="custom-file-label" accept="image/png, image/jpeg">
          Seleccionar Imágenes
        </label>
      </div>
      <br />
    </div>
  </div>
  <div class="text-center">
    <div class="alert alert-danger" *ngIf="errores">
      {{ mensajeError }}
    </div>
    <div class="alert alert-success" *ngIf="exito">
      {{ mensajeExito }}
    </div>
    <div class="alert alert-danger" *ngIf="erroresCarga">
      {{message}}
    </div>
    <div class="alert alert-success" *ngIf="exitoCarga">
      {{message}}
    </div>
    <br />
    <hr />
    <input type="submit" class="btn btn-dark" value="Reportar Incidencia" [disabled]="!registroForm.valid" />
    <hr />
  </div>
</form>